* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  width: 100vw;
  height: 100svh;
  overscroll-behavior: contain;
}
.container {
  width: 80%;
  aspect-ratio: 2/1;
  margin: 0 auto;
}

canvas {
  border: 2px solid black;
  margin: 10px auto;
}

#score,
#timer {
  font-size: 32px;
}
#lives span {
  font-size: 50px;
  color: red;
}
#images {
  display: none;
}

.explodeContainer {
  width: 100%;
  display: none;
  text-align: center;
}
.explodeContainer img {
  width: 50%;
  height: auto;
}

#startButton {
  padding: 10px 15px;
  font-size: 24px;
}
